.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(226px, max-content));
    justify-content: space-between;
    grid-row-gap: 44px;
    padding: 54px 0 212px 0; 

    @media screen and (max-width: 1096px) {
        justify-content: space-evenly;
    }

    @media screen and (max-width: 1008px) {
        padding-top: 32px;
    }

    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(auto-fill, minmax(155px, max-content));
    }

    @media screen and (max-width: 640px) {
        padding-bottom: 82px;
    }

    @media screen and (max-width: 504px) {
        display: flex;
        justify-content: center;
        gap: 26px;
        flex-wrap: wrap;
    }
}