.chests {
    padding: 155px 4.76% 0 29%;
    display: grid;
    grid-template-columns: repeat(3, 224px);
    justify-content: space-between;
    grid-row-gap: 50px;
    background-color: transparent;

    @media screen and (max-width: 1148px) {
        padding: 155px 3% 0 27%;
    }

    @media screen and (max-width: 1008px) {
        padding: 142px 20px 0 20px;
    }

    @media screen and (max-width: 760px) {
        grid-template-columns: repeat(3, 150px);
    }

    @media screen and (max-width: 512px) {
        grid-template-columns: repeat(2, 150px);
    }

    @media screen and (max-width: 352px) {
        grid-template-columns: repeat(2, 130px);
    }
}